.typeahead,
.tt-query,
.tt-hint {

  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}


.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
		
  width: 300px;
 
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
 
  padding: 3px 20px;
  font-size: 12px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor {
 
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}

.listView ul li:first-of-type {
  padding-top: 0;
  border-top: none;
}

.listView ul{padding-left: 10px; margin-top: 5px}
.listView ul li {
  padding: 4px 0px 4px 5px;
  border-top: 1px solid #dedede;
  line-height: 19px
  
}
.listView ul, .selector {
  margin-bottom: 0;
  text-align: left;
  list-style: none;
  font-size: 16px;
  color: #444;
  }
  
  
.btnnn {	
  background: #88abca;
  border-radius: 5px;
  color: #FFF;
  padding: 4px 8px;
  font-size: 12px;
  display: inline-block;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  margin: 15px 290px 0 0;
  float: right;
}
.orange{display: inline;  background:#ffa500; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.red{display: inline;  background:#F7464A; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.darkBlue{display: inline;  background:#000080; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.lightBlue{display: inline;  background:#46BFBD; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.green{display: inline;  background:#00FF00; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.pink{display: inline;  background:#f17cb0; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.lightGreen{display: inline;  background:#60bd68; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.mahandi{display: inline;  background:#b2912f; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.brightBlue{display: inline;  background:#000080; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}
.rehroon{display: inline;  background:#aa4644; padding: 0 0 0 11px; margin: 0 7px 0 0; font-size: 10px}




.inputDateRange{
	border: 1px solid #DADADA;
  color: #888;
  height: 18px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  font-size: 12px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
width: 291px;
}



